@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="identity-form">
    <div class="identity-form__inner-container">
        <h1 class="identity-form__title">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="identity-form__title">Create a new account.</h2>
            @* <hr /> *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="identity-form__field-container">
                <label asp-for="Input.Email" class="identity-form__label">Email</label>
                <input asp-for="Input.Email" class="identity-form__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="identity-form__field-container">
                <label asp-for="Input.Password" class="identity-form__label">Password</label>
                <input asp-for="Input.Password" class="identity-form__input" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="identity-form__field-container">
                <label asp-for="Input.ConfirmPassword" class="identity-form__label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="identity-form__input" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="identity-form__button">Register</button>
        </form>
    </div>
@*     <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
