@model List<HabitDisplayModel>

<div class="form-container--single-day">
    <form method="post" class="">

        @{
            if (Model.Count > 0)
            {
                int selectedMonthNumber = Model[0].Date.Month;
                string selectedMonthText = Model[0].monthNames[selectedMonthNumber - 1];
                string selectedDayText = Model[0].Date.Day.ToString();
                string selectedYearText = Model[0].Date.Year.ToString();

                <div>
                    - Habit List on @selectedMonthText @selectedDayText, @selectedYearText - 
                </div>

            }
        }

        <div class="form-container--single-day__header-container">
            <div class="form-container--single-day__header-cell">Habit Name</div>
            <div class="form-container--single-day__header-cell">Habit Display</div>
            <div class="form-container--single-day__header-cell">Value (optional)</div>
            <div class="form-container--single-day__header-cell">Notes (optional)</div>
            <div class="form-container--single-day__header-cell">Habit Completed</div>
        </div>
        <div class="form-container--single-day__body-container">

            @{
                for ( int i = 0; i < Model.Count; i++ )
                {
                    <div class="form-container--single-day__body-row">
                        @Html.HiddenFor(m => m[i].HabitName)
                        @Html.HiddenFor(m => m[i].HabitDisplayMethod)
                        @Html.HiddenFor(m => m[i].HabitId)
                        @Html.HiddenFor(m => m[i].Date)
                        @Html.HiddenFor(m => m[i].HabitDaysCompletedId)

                        <div class="form-container--single-day__body-cell">@Model[i].HabitName</div>
                        <div class="form-container--single-day__body-cell">@Model[i].HabitDisplayMethod</div>

                        <div class="form-container--single-day__body-cell">
                            @Html.TextBoxFor( m => m[i].HabitDayValue, new { @class = "form-container--single-day__textbox"})
                            @Html.ValidationMessageFor(m => m[i].HabitDayValue)
                        </div>

                        <div class="form-container--single-day__body-cell">
                            @Html.TextBoxFor( m => m[i].Notes, new { @class = "form-container--single-day__textbox" } )
                            @Html.ValidationMessageFor( m => m[i].Notes )
                        </div>

                        <div class="form-container--single-day__body-cell form-container--single-day__checkbox-container">
                            @Html.CheckBoxFor( m => m[i].isHabitCompleted, new {@class="form-container--single-day__checkbox"} )
                        </div>
                    </div>
                }
            }

        </div>
        <div class="crud-form__submit-back-buttons">
            @if (Model.Count > 0)
            {
                <button class="crud-form__update-button" type="submit">Update</button>
            } else
            {
                <div></div>
            }
            <a class="crud-form__back-button" asp-controller="Home" asp-action="Index">Back to Habit List</a>
        </div>
    </form>
</div>

@* Rough draft code *@

@*             @{
                foreach(HabitDisplayModel habit in Model)
                {
                    <div class ="form-container--single-day__body-row">
                        <div class="form-container--single-day__body-cell">@habit.HabitName</div>
                        <div class="form-container--single-day__body-cell">@habit.HabitDisplayMethod</div>




                        <div class="form-container--single-day__body-cell">

                            <input asp-for="@habit.HabitDayValue">
                            <span class="crud-form__validation" asp-validation-for="@habit.HabitDayValue"></span>

                        </div>

                        <div class="form-container--single-day__body-cell">@habit.Notes</div>

                        <div class="form-container--single-day__body-cell">@habit.isHabitCompleted</div>
                    </div>
                }

            } *@