@model List<HabitDisplayModel>



@* Could pass the same model as for the index here and databag the selected date... *@

<div class="form-container--single-day">
    <form method="post" class="">
        @* <input asp-for="HabitDaysCompletedId" hidden /> *@

        <div>
            Habit List on
        </div>
        <div class="form-container--single-day__header-container">
            <div class="form-container--single-day__header-cell">Habit Name</div>
            <div class="form-container--single-day__header-cell">Habit Display</div>
            <div class="form-container--single-day__header-cell">Value (optional)</div>
            <div class="form-container--single-day__header-cell">Notes (optional)</div>
            <div class="form-container--single-day__header-cell">Habit Completed</div>
        </div>
        <div class="form-container--single-day__body-container">


            @{
                foreach(HabitDisplayModel habit in Model)
                {
                    <div class ="form-container--single-day__body-row">
                        <div class="form-container--single-day__body-cell">@habit.HabitName</div>
                        <div class="form-container--single-day__body-cell">@habit.HabitDisplayMethod</div>
                        <div class="form-container--single-day__body-cell">@habit.HabitDayValue</div>
                        <div class="form-container--single-day__body-cell">@habit.Notes</div>
                        <div class="form-container--single-day__body-cell">@habit.isHabitCompleted</div>
                    </div>
                }

            }





    </div>
    
    
    
    </form>



</div>
