@using HabitCalendar.Models
@model CalendarInfoModel;

@{
    ViewData["Title"] = "Home Page";
}
<section id="calendar-section">
    <div class="calendar-section-header">
        <div class="days-of-week-left">
            <button id ="scroll-to-bottom-button" class="scroll-button-not-visible">To Bottom</button>
        </div>
        <div id="days-of-week-container">
            <div class="day-of-week">Sun</div>
            <div class="day-of-week">Mon</div>
            <div class="day-of-week">Tues</div>
            <div class="day-of-week">Wed</div>
            <div class="day-of-week">Thurs</div>
            <div class="day-of-week">Fri</div>
            <div class="day-of-week">Sat</div>
        </div>
        <div class="days-of-week-right">
        </div>
    </div>

    <div id="greater-calendar-container">
        @{
            DateOnly todaysDate = DateOnly.FromDateTime(DateTime.Today);
            <div class="side-calendar-area">
                @{

                    if (Model.currentWeek.Count > 0){
                        <div class="side-container"> - @Model.monthNames[todaysDate.Month - 1] / @todaysDate.Year - </div>
                    }

                    if (Model.remainingWeeks.Count > 0) {
                        int weekIncrementer = 0;
                        bool isNewMonth = false;
                        foreach(CalendarDisplayModel day in Model.remainingWeeks){
                            if (weekIncrementer >= 7){ weekIncrementer = 0; }
                            if (day.Date.Day == 1) {
                                isNewMonth = true;
                            }
                            if (weekIncrementer == 6) {
                                if (isNewMonth == true) {
                                    <div class="side-container">
                                        <i class="fa-solid fa-arrow-up"></i>
                                        <div>
                                            @Model.monthNames[day.Date.Month -1] / @day.Date.Year
                                        </div>
                                    </div>
                                } else {
                                    <div class="side-container"></div>
                                }
                                isNewMonth = false;
                            }
                            weekIncrementer++;
                        }
                    }

                    if (Model.firstWeek.Count > 0) {
                        bool isNewMonthInFirstWeek = false;
                        int newMonthNumber = 0;
                        int newYearNumber = 0;
                        foreach (CalendarDisplayModel day in Model.firstWeek) {
                            if (day.Date.Day == 1) {
                                isNewMonthInFirstWeek = true;
                                newMonthNumber = day.Date.Month;
                                newYearNumber = day.Date.Year;
                            }
                        }
                        if (isNewMonthInFirstWeek == true) {
                            <div class="side-container">
                                <i class="fa-solid fa-arrow-up"></i>
                                <div>
                                    @Model.monthNames[newMonthNumber - 1] / @newYearNumber
                                </div>
                            </div>

                        } else {
                            <div class="side-container"></div>
                        }
                    }
                }
            </div>
        }
        <div id="calendar-container">
            @{
                if (Model != null) {
                    DateOnly currentDate = DateOnly.FromDateTime(DateTime.Today);
                    foreach(CalendarDisplayModel curr in Model.currentWeek){
                        if(curr.isVisible == true && curr.Date == currentDate){
                            <a class="day-container current-day" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@curr.Date">
                                <partial name="_CalendarDay" model="curr" />
                            </a>
                        }   
                        else if (curr.isVisible == true && currentDate.Month == curr.Date.Month) {
                            <a class="day-container" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@curr.Date">
                                <partial name="_CalendarDay" model="curr" />
                            </a>
                        }
                        else if ( curr.isVisible == true && currentDate.Month-1 == curr.Date.Month )
                        {
                            <a class="day-container second-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@curr.Date">
                                <partial name="_CalendarDay" model="curr" />
                            </a>
                        }
                        else if (curr.isVisible == true && currentDate.Month != curr.Date.Month)
                        {
                            <a class="day-container non-current-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@curr.Date">
                                <partial name="_CalendarDay" model="curr" />
                            </a>
                        }
                        else {
                            <div class="day-container day-not-visible"></div>
                        }
                    }
                }
            }

            @{
                if (Model != null && Model.remainingWeeks.Count > 0)
                {
                    DateOnly currentDate = DateOnly.FromDateTime(DateTime.Today);
                    foreach (CalendarDisplayModel remain in Model.remainingWeeks)
                    {
                        if (remain.isVisible == true && currentDate.Month == remain.Date.Month && currentDate.Year == remain.Date.Year)
                        {
                            <a class="day-container" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@remain.Date">
                                <partial name="_CalendarDay" model="remain" />
                            </a>
                        }
                        else if ( remain.isVisible == true && currentDate.Month-1 == remain.Date.Month && currentDate.Year == remain.Date.Year)
                        {
                            <a class="day-container second-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@remain.Date">
                                <partial name="_CalendarDay" model="remain" />
                            </a>
                        }
                        else if ( remain.isVisible == true && currentDate.Month-2 == remain.Date.Month && currentDate.Year == remain.Date.Year)
                        {
                            <a class="day-container third-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@remain.Date">
                                <partial name="_CalendarDay" model="remain" />
                            </a>
                        }
                        else if (remain.isVisible == true){
                            <a class="day-container non-current-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@remain.Date">
                                <partial name="_CalendarDay" model="remain" />
                            </a>
                        }
                        else
                        {
                            <div class="day-container day-not-visible"></div>
                        }
                    }
                }
            }

            @{
                if (Model != null && Model.firstWeek.Count > 0)
                {
                    DateOnly currentDate = DateOnly.FromDateTime(DateTime.Today);
                    foreach (CalendarDisplayModel first in Model.firstWeek)
                    {
                        if ( first.isVisible == true && currentDate.Month == first.Date.Month && currentDate.Year == first.Date.Year )
                        {
                            <a class="day-container" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@first.Date">
                                <partial name="_CalendarDay" model="first" />
                            </a>
                        }
                        else if ( first.isVisible == true && currentDate.Month-1 == first.Date.Month && currentDate.Year == first.Date.Year )
                        {
                            <a class="day-container second-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@first.Date">
                                <partial name="_CalendarDay" model="first" />
                            </a>
                        }
                        else if ( first.isVisible == true && currentDate.Month-2 == first.Date.Month && currentDate.Year == first.Date.Year )
                        {
                            <a class="day-container third-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@first.Date">
                                <partial name="_CalendarDay" model="first" />
                            </a>
                        }
                        else if (first.isVisible == true){
                            <a class="day-container non-current-month" asp-controller="Home" asp-action="CalendarDayModify" asp-route-date="@first.Date">
                                <partial name="_CalendarDay" model="first" />
                            </a>
                        }
                        else
                        {
                            <div class="day-container day-not-visible"></div>
                        }
                    }
                }
            }
        </div>

        <div class="side-calendar-area">
            @{
                int weeksCountRightSide = 0;
                if (Model.currentWeek.Count > 0) { weeksCountRightSide++; }
                if (Model.firstWeek.Count > 0) { weeksCountRightSide++; }
                if (Model.remainingWeeks.Count > 0) {
                    weeksCountRightSide += Model.remainingWeeks.Count / 7;
                }
                for (int i = 0; i < weeksCountRightSide; i++) {
                    <div class="side-container"></div>
                }
            }
            </div>
        </div>
        <div class="calendar-section-header">
            <div class="days-of-week-left">
            <button id="scroll-to-top-button" class="scroll-button-not-visible">To Top</button>
            </div>
            <div id="days-of-week-container">
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
                <div class="day-of-week"></div>
            </div>
            <div class="days-of-week-right">
                
            </div>
        </div>
    </section>
