@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="identity-form__manage-account-options identity-form__button-collection-container">
    <li class="identity-form__manage-account-list-item identity-form__button"><a class="identity-form__manage-account-list-item-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="identity-form__manage-account-list-item identity-form__button"><a class="identity-form__manage-account-list-item-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="identity-form__manage-account-list-item identity-form__button"><a class="identity-form__manage-account-list-item-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
@*     @if (hasExternalLogins)
    {
     <li id="external-logins" class="identity-form__manage-account-list-item identity-form__button"><a id="external-login" class="identity-form__manage-account-list-item-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    } *@
    @* <li class="identity-form__manage-account-list-item identity-form__button"><a class="identity-form__manage-account-list-item-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
    <li class="identity-form__manage-account-list-item identity-form__button"><a class="identity-form__manage-account-list-item-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
