@model List<Habit>

<section id="habit-list-section">
    <div id="habit-list-header">
        <div class="habit-list-title">Habit List</div>
        @if ( TempData["success"] != null )
        {
            <div class="temp-data-success">@TempData["success"]</div>
        }
        <a asp-controller="Habit" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New Habit</a>
    </div>
    <table id="habit-list-table">
        <thead>
            <tr>
                <th>
                    Habit Name
                </th>
                <th>
                    Habit Description
                </th>
                <th>
                    Habit Display
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.HabitName</td>
                    <td>@obj.HabitDescription</td>
                    <td>@obj.HabitDisplayMethod</td>
                    <td>
                        <div role="group" class="habit-list-edit habit-list-action">
                            <a asp-controller="Habit" asp-action="Edit" asp-route-habitId="@obj.HabitId"><i class="fa-solid fa-pencil"></i> Edit</a>
                        </div>
                    </td>
                    <td>
                        <div role="group" class="habit-list-delete habit-list-action">
                                <a asp-controller="Habit" asp-action="Delete" asp-route-habitId="@obj.HabitId"><i class="fa-solid fa-trash"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

